* {
  padding: 0;
  margin: 0;
  transition: all 0.2s ease;
  box-sizing: border-box;
}

html, body {
  font: 20px "VT323", monospace, sans-serif;
  background-color: transparent;
  color: #444;
  background-color: #fdfffc;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

section {
  flex-grow: 1;
  position: relative;
}

footer {
  font-size: 3rem;
}

h1 {
  color: #e71d36;
  font-size: 2.8rem;
}

main > * {
  width: 30rem;
  padding: 0.2rem;
}

main > *:first-child {
  margin-top: 2rem;
  text-align: center;
}

main > *:last-child {
  margin-bottom: 2rem;
  text-align: center;
}

a, a:visited {
  color: #789;
  text-decoration: none;
}

a:hover, a:active {
  color: #e71d36;
}

footer a:hover i {
  transform: scale(1.1);
}

pre {
  background-color: #011627;
  padding: 1rem;
  margin: 1rem 0;
  color: #fdfffc;
}

code {
  font: 1.5rem "VT323", monospace, sans-serif;
  line-height: 1.4rem;
}

::selection {
  color: #fff;
  background: #e71d36;
}
::-moz-selection {
  color: #fff;
  background: #e71d36;
}

@media (max-width: 600px) {

  html, body {
    font-size: 3vw;
  }

  main > * {
    width: 100%;
    margin: 0;
    padding: 0;
  }

}
